.app {
  display: grid;
  place-items: center;
}

.main-content {
  display: flex;

  width: 80%;
}

.title {
  text-align: center;
  margin: 0.8rem 0;
}

.main ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin: 0.5rem 0;
}

a.activeLink {
  color: #5a1;
}
